<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.views.category"
            class="de.cooperateproject.notation2plant.viewer.Uml2PlantUmlView"
            id="de.cooperateproject.notation2plant.viewer.view1"
            name="Notation2Plant View"
            icon="icons\cooperate.png"
            restorable="true">
      </view>
   </extension>

</plugin>
